<!DOCTYPE html>

<html>
<head>
  <title> P E A R </title>
  <link rel="stylesheet" type="text/css" href="../style/second.css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<body background='../picture/sec2.jpg'>
  {% include "template/menu.html" %}
 <!-- <div id="scrollsections"> -->
      <section id="scrollsec2">
        <h1>WHAT IS PEAR?</h1>
        <h2>Pear is a web application that aims to assist users in their
          brainstorming processes. With the help of a random word generator,

          users manually associate their given word with similar word. Upon
          the entry of each word, a thought map will appear, which will help

          users manually associate their given word with a similar word. Upon
          the entry of each word, a thought map will be rendered, which will help

          the user visually see their thought process. After pairing multiple
          words, the user will gradually arrive upon a brainstorming idea.

          <br/>
          <br/>
          <center>Welcome to Pear!</center>

          <body></body>
           <body></body>

        </h2>
      </section>
      <section id="scrollsec3">
        <h1>CREATORS:</h1>
        <!-- Linh bio -->
        <div>

         </div>

        <br/>


        <br/>
  <!-- profile pictures -->
          <div class="shrink pic">
          <img src="../picture/linh.jpg" alt="city">
              <div id="linh">
                  Hi everyone, my name is Linh. I live in Seattle and will be
                  attending University of Washing (Seattle campus) for upcoming
                  fall quarter. I am thinking to do Human Center Design Engineer,
                  or Cartooning, if I can't get in Computer Science Department. I
                  just got introduce to the idea of computer science (coding) this
                   year and still not too familiar, but working my way there. I
                   was born in Vietnam but I'm not full Vietnamese, I am part
                   Taiwanese(Chinese) and Cambodian. I came here when I was eleven.
                   I can speak about 4 languages (I think). I draw and enjoy taking
                   picture (just started this year). I play tennis, golf and bike
                   during my free time. I also play violin.
              ﻿</div>
          </div>

          <div class="shrink pic">
            <img src="../picture/steven.jpg" alt="city">
              <div id="steven">
                Hey everybody! My name is Steven and I will be travelling from
                Denver, Colorado to Seattle! Next year, I will be attending
                Carnegie Mellon University in Pittsburgh and studying Computer
                Science. I love sports from tennis to ultimate frisbee, so you
                know I'm going to bring one up to Seattle, but I also love to
                play video games with friends and watch any kind of Marvel movie
                or TV show. Now that high school and all of its stress is over,
                I'm pumped to meet every single one of you in July!﻿
              </div>
          </div>

          <div class="shrink pic">
          <img src="../picture/uka.jpg" alt="city">
            <div id="uka">
                Hello, Friends! My name is Uka, nice to meet you!

                •	I hail from Denver, CO and yes, I’m a diehard Broncos fan (no regerts)
                •	I’ll be shipped over to Brown University this fall
                •	I’m left-handed
                •	5’2”
                •	I love music! Been playing violin for 11+ years, and if you have music suggestions, lemme know!
                •	I love movies. (Shoutout to all the Back to the Future fans!)

                I’m absolutely excited to meet all of incredibly talented people this summer :)﻿
            </div>
          </div>
        <!-- </div> -->
 </body>
</html>
